body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #b30000;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    text-align: center;
    background-color: #222;
    padding: 10px;
}

nav button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #ffcc00;
    cursor: pointer;
    font-weight: bold;
}

nav button:hover {
    background-color: #ffaa00;
}
.admin-panel {
    background: white;
    padding: 15px;
    margin: 20px auto;
    max-width: 900px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.admin-panel input,
.admin-panel textarea,
.admin-panel select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.admin-panel button {
    background-color: #b30000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.noticia {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 6px solid #b30000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.noticia h2 {
    margin: 0 0 10px 0;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
